h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200px;
    font-weight: 700;
}
.green {
    color:#1b5623;
}
.red {
    color: red;
}
.purple{
    color: purple;
}
.gold{
    color:goldenrod;
}